<h2 style="text-align: center;">Edit Data Barang</h2>
<hr>

<form action="/edit/<%= item.id %>" method="POST">
    <label>Nama Barang:</label>
    <input type="text" name="nama" value="<%= item.nama %>" required>
    
    <label>Stok Awal:</label>
    <input type="number" name="stok" value="<%= item.stok %>" required>
    
    <label>Jumlah Terjual:</label>
    <input type="number" name="terjual" value="<%= item.terjual %>" required>
    <label>Kategori Barang:</label>
<select name="kategori_id" required style="display: block; margin-bottom: 15px; padding: 5px;">
    <option value="1" <%= item.kategori_id == 1 ? 'selected' : '' %>>Elektronik</option>
    <option value="2" <%= item.kategori_id == 2 ? 'selected' : '' %>>Furniture</option>
    <option value="3" <%= item.kategori_id == 3 ? 'selected' : '' %>>Aksesoris</option>
</select>
    <button type="submit">Update Data</button>
</form>

<div style="text-align: center; margin-top: 20px;">
    <a href="/" style="color: #7f8c8d; text-decoration: none;">Batal</a>
</div>